#signature {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #222831;
    width: 100%;
    padding: 10vh 0 10vh 0;
}

#signature p,
#signature div,
#signature a {
    background-color: #222831;
    color: #eee;
}

#signature button {
    border: 0;
    margin: 1rem 2rem;
    cursor: pointer;
}

#signature a {
    text-decoration: none;
}

@media (max-width: 420px) {
    

    #signature button {
        margin: 0.5rem 1.8rem;
    }

    #signature p {
        margin-top: 1rem;
        
    }

    .hline {
        width: 50%;
        margin: auto;
        margin-bottom: 1rem;
        
    }

    #signature hr {
        border:0;
        border-top: 1px white solid;
    }
}
